.user-management-container {
    
 
}

.main-content {
  
  background-color: #51b1ffdb;
  padding: 20px;
  border-radius: 30px;
  margin-left: auto;
}

.form-section h1 {
  color: #ffffff;
  text-align: center;
}

#change-password-form {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
 }
 
 #change-password-form input[type="text"],
 #change-password-form input[type="number"],
 #change-password-form input[type="password"],
 #change-password-form select,
 #change-password-form input {
  height: 25px;
  background-color: #f0f0f0;
  color: #333;
  margin-bottom: 10px; 
 }

 #change-password-form select{
  height: 30px;
 }
 
 
 .role-icon {
  width:24px;
  height:auto;
  margin-right:8px;
 }

 .popup-container {
  background-color: #1c73bb6a;
  position: fixed;
  top: 500px;
  left: 220px;
  width: 300px;
  height: auto;
  z-index: 5; 
  border-top: 1px solid black; 
}

/* Modal container */
/* Overlay for the entire screen */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it appears above other content */
}

/* 3D Popup Modal */
.modal-container {
  background-color: #c0762cb9;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgb(0, 0, 0, 0.5);
  max-width: 400px;
  width: 80%;
  transform: translateZ(50px); /* Add 3D effect */
  position: relative;
  display: flex;
  flex-direction: column; /* or row, depending on your layout */
  align-items: center;
  justify-content: center;
}

.button-container {
  margin-top: 20px;
}

/* Close button (optional) */
.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 18px;
  color: #000000;
}

.btn {
  display: block;
  width: 100%;
  /* max-width: 200px; */
  margin: 20px auto;
  padding: 15px 20px;
  border: none;
  outline: none;
  color: #FFF;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 12px;
}
.btn::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
  left: 0;
  top: 0;
  border-radius: 10px;
}
/* glow */
.btn::before {
  content: "";
  background: linear-gradient(
    45deg,
     #FF0000,/* #FF7300, #FFFB00, #48FF00, 
     #00FFD5,/ #002BFF,/, #FF00C8, */#FF0000 
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  width: calc(100% + 6px);
  height:  calc(100% + 6px);
  filter: blur(8px);
  animation: glowing 20s linear infinite;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
  opacity: 0;
}

@keyframes glowing {
  0% {background-position: 0 0;}
  50% {background-position: 400% 0;}
  100% {background-position: 0 0;}
}

.btn:hover::before {
  opacity: 1;
}

.btn:active:after {
  background: transparent;
}

.btn:active {
  color: #000;
  font-weight: bold;
}